head

  title #* DinoPianito *#

  meta(name="viewport"
  content="width=device-width, initial-scale=1.0")
  
  meta(charset="UTF-8")

  meta(property="fb:app_id" content="841267929357321")
  meta(property="og:url" content="http://www.dinopianito.com.ar")
  meta(property="og:type" content="game") 
  meta#fb-description(property="og:title" content="INCREÍBLE!!!!!!!! Superaste tu propio dinorecord!!!" ) 
  meta(property="og:description" content="Demostrále a tus dinocontactos lo lejos que podés llegar jugando a Dinopianito™!") 
  meta(property="og:image" content="http://www.dinopianito.com.ar/assets/img/intro.png")
    
  link(rel="shortcut icon", href="assets/img/favicon.png")
    
  link(
    rel="stylesheet",
    href="main.css",
    media="screen",
    title="main"
  )

  link(href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet")
    
  link(href="https://fonts.googleapis.com/css?family=Bree+Serif|Cabin|Muli|Poppins|Raleway|Slabo+27px|Ubuntu",
  rel="stylesheet"
    )
